* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
}

.container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: cornflowerblue;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button {
        border-radius: 30px;
        background-color: chocolate;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s;
    }

    & button:hover {
        opacity: 0.8;
        transition: 0.4s;
    }
}